.container {
  h1 {
    text-align: center;
    margin: 0 auto;
    max-width: 325px;
  }
}

.SkillList {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 350px;
  margin-top: 30px;
}
